/* цвет текста заголовков от h2 #212121 */
/* цвет  текста информации  ##757575*/
/* белый #FFFFFF*/
/* Добавочный фон #2F303A*/
/* фон акцента #2196F3*/

/* общие переменные */

:root {
  --information-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --background-second-color: #2f303a;
  --accent-color: #2196f3;
  --primary-black-color: #000000;
}

/* глобальные селекторы */

body {
  background-color: var(--primary-white-color);
  color: var(--information-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* обнуление стилизации ссылок */
.link,
.logo,
.logo-footer {
  text-decoration: none;
}
/* обнуление стилей списков */
.list li {
  list-style: none;
}

/* логотип */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-black-color);
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-white-color);
}
.logo > span,
.logo-footer > span {
  color: #2196f3;
}
/* навигация и футер */

.footer {
  background-color: var(--background-second-color);
}
.nav-list {
  color: var(--title-text-color);

  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-list:hover,
.nav-list:focus {
  color: var(--accent-color);
}
.nav-contakt-header {
  color: var(--information-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-contakt-header:hover,
.nav-contakt-header:focus {
  color: var(--accent-color);
}
.nav-contakt-footer {
  color: var(--primary-white-color);

  line-height: 1.17;
}
.nav-contakt-footer:hover,
.nav-contakt-footer:focus {
  color: var(--accent-color);
}
.address {
  color: var(--primary-white-color);

  font-style: normal;
  line-height: 1.7;
}

/* герой */

.hero {
  background-color: var(--background-second-color);
}
.title-hero {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-hero {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* достоинства */

.dignity-title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.dignity-list {
  line-height: 1.7;
}

/* Чем мы занимаемся */

.our-work {
  color: var(--title-text-color);

  font-size: 36px;
  text-align: center;
}

/* Наша команда */

.our-team {
  color: var(--title-text-color);

  font-size: 36px;
  text-align: center;
}

.our-team-name {
  font-size: 16px;
  font-weight: 500;

  /* text-align: center; */

  color: var(--title-text-color);
}

.our-team-position {
  font-size: 16px;
  /* text-align: center; */
}

/* портфолио кнопки */

.examples-button-unit {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.examples-button-unit:hover,
.examples-button-unit:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  cursor: pointer;
}

/* портфолио проекты */

.project-title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-part {
  color: var(--information-text-color);

  font-size: 16px;
  line-height: 1.9;
}
